/* .adminWrapper {
  max-width: 1040px;
  margin : 50px auto;
  padding: 20px;
}

.adminWrapper button {
  float: left;
} */

@media screen and (max-width: 1000px) {
  .adminWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  
}